body {
		margin:0;
		overflow:hidden;
		font-weight:800;
		background:#e1e1e1;
		user-select: none; /* supported by Chrome and Opera */
               -webkit-user-select: none; /* Safari */
                -khtml-user-select: none; /* Konqueror HTML */
               -moz-user-select: none; /* Firefox */
                -ms-user-select: none; /* Internet Explorer/Edge */
}
		
.se-pre-con {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 1000;
	background-color:#eee;
	background:#e1e1e1;
}

.loading {
        position:absolute;
        top:50%; left:50%;
transform:translate(-50%, -50%);
font-size:20px;
}


.page {
	width:100%;
	height:50px;
	text-align:center;
	font-size:20px;
	padding-top:3px;
	position:fixed;
	top:0;
	display:block;
	z-index:998;
	}
	
.page-hide {
	width:100%;
	height:50px;
	}
	
.two, .three, .four, .five, .six{
	display:none;
	}
	
.next2, .next3, .next4, .next5, .next6 {
	display:none;
	}
	
.prev2, .prev3, .prev4, .prev5, .prev6 {
	display:none;
	}
	
.im, .img3, .img4, .img5, .img6 {
	display:none;
	}

	
	.img-bg {
		
		}
	
.img {
	width:100%;
	height:120%;
	position:absolute;
	transform:translateY(-140px);
	z-index:9;
	transition:transform 0.6s;
	}
	
.navigate {
	width:100%;
	height:55px;
	display:flex;
	flex-wrap:wrap;
	text-align:center;
	position:fixed;
	top:100%;
	z-index:999;
	transform:translateY(-55px);
	}
	
.prev-ct {
	width:50%;
	margin:0 auto;
	
	}
	
.next-ct {
	width:50%;
	margin:0 auto;
	}
	
.navimg {
	width:50px;
	height:50px;
	}
	
.zoom1x {
	width:60px;
	padding:5px;
	position:absolute;
        top:5px; left:5px;
	border-radius:5px;
	background-color:#75AB40;
	opacity:0.7;
	z-index:999;
	}
	
.zoom15x {
	width:60px;
	padding:5px;
	position:absolute;
        top:5px; left:80px;
	border-radius:5px;
	background-color:#75AB40;
	opacity:0.3;
	z-index:999;
	}
	
.openfav {
  	width:50px;
  position:fixed;
  top:5px;
  left:85%;
  z-index:998;
  
  }
  
    .closefav {
  	width:50px;
  position:fixed;
  top:5px;
  left:85%;
    z-index:998;
  display:none;
  }

.toast {
		position: fixed;
		top:75%;
		left:50%;
		transform:translate(-50%, 40px);
		z-index:9999;
		background-color:#900033;
		color:white;
		padding:5px 20px 5px 20px;
		font-size:18px;
		border-radius:4px;
		opacity:0;
		animation:toast 1s linear 1;
		display:none;
		}
		
	@keyframes toast {
		0% {
			opacity:0
			transform:translate(-50%, 40px);
			}
			
		25% {
			opacity:1;
			transform:translate(-50%, 0px);
			}
			
		75% {
			opacity:1;
			transform:translate(-50%, 0px);
			}
			
		100% {
			opacity:0;
			transform:translate(-50%, -40px);
			}
		}

  @media (min-width:600px) {
	.img {
		width:90%;
		margin-left:5%;
	}

	.zoom1x {
		display: none;
	}

	.zoom15x {
		display: none;
	}
}


@media (min-width:800px) {
	.img {
		width:60%;
		margin-left:20%;
	}

	

	.zoom1x {
		display: none;
	}

	.zoom15x {
		display: none;
	}
}
